#headerDiv {
	width:960px;
	border-bottom: 1px solid #99BBE8;
	text-align:left;
	margin: 0 auto;
	height:56px;
	position:relative;
}

#welcome {
	font-size:14px;
	padding-left:20px;
	width: 50%;
	font-family: "Î¢ÈíÑÅºÚ", "Cambria", "ËÎÌå";
}

#menu { font-family:Arial; font-size:14px; margin-left:3px; width: 80%;}
#menu a, #menu a:visited {
	display: block;
	float:left;
	position:relative;
/* 	background-color:#c00; */
	background-color:#69F;
	font-weight: bold;
	color: #FFF;
	text-decoration:none;
	padding:6px;
	margin:1px 0 0 1px;
	top:0px;
}

#menu a .corner {
	position:absolute;
	height:0;
	width:0;
	overflow:hidden;
	border-bottom:solid 6px #69F;
	border-left: solid 6px #fff;
	top: 0;
	left: 0;
}

#menu a:hover {
	background-color: #f90;
	color:#333;
}

#menu a:hover span.corner {
	border-bottom:solid 6px #F90;
}

#undealmsg, #unreadmsg {font-weight: bold; color:blue;}

#menubar { 
	text-align:right; 
	display:inline; 
	vertical-align:bottom; 
	position: absolute;
	right:0px; 
	top:0px;
}

#menubar a, #menubar a:visited {
	display:block; 
	float:right; 
	color:#000; 
	text-decoration:none; 
	padding:4px; 
	margin:4px;
	border-top:8px solid #9ab;
	border-bottom:8px solid #9ab;
}

#menubar a:hover{ 
	color:#f00; 
	border-top:8px solid #000; 
	border-bottom:8px solid #000;
}

#bodyDiv {
	width: 960px;
	text-align:center;
	margin: 0px auto;
	clear: both;
}

.dataTable {
	width:100%; 
	border:1px solid #ccc;
	border-collapse:collapse;
	margin-top: 20px;
}

.dataTable td{
	border:solid 1px #CCC;
	line-height: 20px;
	text-align:left;
}

.dataTable th {
	font-weight: bold;
	background-color:#D5E2F2;
	border:solid 1px #99BBE8;
	line-height: 20px;
	text-align:center;
}

.dataTable_simple {
	border:1px solid #ccc;
	border-collapse:collapse;
	margin-top: 20px;
	width:100%;
}

.dataTable_simple td{
	border:solid 1px #CCC;
	line-height: 20px;
}

.dataTable_simple th {
	font-weight: bold;
	background-color:#D5E2F2;
	border:solid 1px #99BBE8;
	line-height: 20px;
	text-align:center;
}