<?xml version="1.0" encoding="UTF-8"?>
<services>
	<service>
		<id>ResetPassReqService</id>
		<name>用户重置密码请求</name>
		<class>com.m3.patchbuild.user.ResetPassReqService</class>
		<functions>
			<function>
				<id>NewResetPassReqService</id>
				<name>新增</name>
				<method>saveInfo(com.m3.patchbuild.IBussInfo)</method>
	    		<condition>"${_Parameter_0.handleTime}" == "null"</condition>
			</function>
			<function>
				<id>SaveResetPassReqService</id>
				<name>保存</name>
				<method>saveInfo(com.m3.patchbuild.IBussInfo)</method>
			    <condition>"${_Parameter_0.handleTime}" != "null"</condition>
			</function>
		</functions>
	</service>
</services>