<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">patchbuild</property>
        <property name="hibernate.connection.password">patchbuild</property>
        <property name="connection.url">jdbc:mysql://localhost:3307/patch_build?generateSimpleParameterMetadata=true</property>
        <property name="connection.useUnicode">true</property>
    	<property name="connection.characterEncoding">UTF-8</property>
    	<property name="hibernate.connection.provider_class"> org.hibernate.connection.C3P0ConnectionProvider </property>
    	<property name="hibernate.c3p0.max_size">30</property>
    	<property name="hibernate.c3p0.min_size">1</property>
    	<property name="hibernate.c3p0.timeout">1800</property>
    	<property name="hibernate.c3p0.max_statements">1000</property>
    	<property name="hibernate.c3p0.idle_test_period">30000</property>
    	<property name="hibernate.c3p0.acquire_increment">1</property>
    	<property name="hibernate.c3p0.validate">false</property> 
        <property name="format_sql">false</property>
		<property name="show_sql">true</property>
		<mapping class="com.m3.patchbuild.pack.BuildFile" />
        <mapping resource="patch_build.hbm.xml"/>
        <mapping class="com.m3.patchbuild.branch.Branch" />
        <mapping class="com.m3.patchbuild.user.User" />
        <mapping class="com.m3.patchbuild.svn.SVNLog" />
        <mapping class="com.m3.patchbuild.patch.Patch" />
        <mapping class="com.m3.patchbuild.message.Message" />
        
        <mapping resource="common.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>