<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">patchbuild</property>
        <property name="hibernate.connection.password">patchbuild</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/patch_build?generateSimpleParameterMetadata=true</property>
        <property name="connection.useUnicode">true</property>
    	<property name="connection.characterEncoding">UTF-8</property>
        <property name="format_sql">false</property>
		<property name="show_sql">true</property>
		<mapping class="com.m3.patchbuild.info.BuildFile" />
        <mapping resource="patch_build.hbm.xml"/>
        <mapping class="com.m3.patchbuild.info.BuildBranch" />
        <mapping class="com.m3.patchbuild.info.User" />
        <mapping class="com.m3.patchbuild.info.SVNLog" />
        <mapping class="com.m3.patchbuild.info.HtmlTemplate" />
        <mapping class="com.m3.patchbuild.info.PatchInfo" />
        
         <mapping resource="common.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>